/* Variables
--------------------------------*/
/* Columns
---------------*/
/* Gutter
---------------*/
/* Colors
---------------*/
/* Font
---------------*/
/* Breakpoints
---------------*/
/* Mixins
--------------------------------*/
/* Container Mixin
-----------------*/
/* Column Mixin
-----------------*/
/* Media queries
-----------------*/
/* General Styles
---------------*/
* {
    box-sizing: border-box; }

body {
    font-size: 10px;
    font-family: "Roboto", sans-serif;
    color: #245;
    margin: 0;
    padding: 0; }

/* Content Styles
---------------*/
.pageintro {
    width: 100%;
    height: 20rem;
    line-height: 20rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    margin-bottom: 0.9375rem; }
@media only screen and (min-width: 640px) {
    .pageintro {
        margin-bottom: 1.875rem; } }

.pageintro + .placeholder {
    height: 20rem;
    background: #da9 url(../../images/img-1.jpeg) 50% 17% no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }

.tagline {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 3;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: #ccc;
    text-align: center;
    background: #daa;
    line-height: 1.25rem;
    font-size: 2.3125rem; }
@media only screen and (min-width: 640px) {
    .tagline {
        line-height: 1.875rem;
        font-size: 3.6rem; } }

.container {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    max-width: 128rem;
    margin: 0 auto; }
@media only screen and (min-width: 640px) {
    .container {
        padding: 0 0.9375rem; } }

.block {
    box-sizing: border-box;
    flex: 0 1 100%;
    max-width: 100%;
    padding: 0 0.9375rem 0.9375rem; }
@media only screen and (min-width: 640px) {
    .block {
        box-sizing: border-box;
        flex: 0 1 33.333%;
        max-width: 33.333%;
        padding: 0 0.9375rem 0.9375rem; } }

.box {
    background-color: #daa;
    height: 100%;
    min-height: 100%;
    padding: 1rem; }

.titles-holder {
    text-align: center;
    font-size: 2em; }

.main-title, .sub-title {
    text-transform: uppercase; }

h2 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 20px;
    margin-top: 0; }

p {
    font-size: 13px;
    line-height: 21px; }
