<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Festival of tulips</title>

    <!--Styles-->
    <link rel="stylesheet" href="index.css">

    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic" rel="stylesheet">
</head>
<body>

<header class="pageintro" role="banner">
    <h1 class="tagline">Festival of tulips</h1>
    <span class="intro-overlay loaded"></span>
</header>
<div class="placeholder"></div>

<div class="page-content">
    <div class="page-section">

        <!--<div class="titles-holder">-->
        <!--<h2 class="main-title">-->
        <!--Title-->
        <!--</h2>-->
        <!--<p class="sub-title">-->
        <!--Sub title-->
        <!--</p>-->
        <!--</div>-->

        <div class="container">
            <div class="block">
                <div class="box">
                    <h2>Lorem Ipsum</h2>
                    <p>
                        Quisque id laoreet ante. Sed convallis ex non ipsum sollicitudin, at varius nisl iaculis. Praesent
                        egestas, nibh quis faucibus viverra, diam ipsum consequat erat, in consequat ipsum justo sed metus. Nunc
                        gravida tellus in tellus tincidunt, id viverra erat finibus. Ut a finibus ex.
                    </p>
                </div>

            </div>
            <div class="block">
                <div class="box">
                    <h2>Lorem Ipsum</h2>
                    <p>
                        Cras ornare velit sit amet tortor ullamcorper sodales. Phasellus vestibulum, massa vitae bibendum
                        volutpat, elit ex tempor urna, sed aliquet justo lectus ac sapien. Nullam dictum dapibus leo vel
                        facilisis. Praesent id facilisis nunc. Suspendisse urna ante, dictum quis posuere eget, accumsan eget
                        orci. Quisque id laoreet ante. Sed convallis ex non ipsum sollicitudin, at varius nisl iaculis. Praesent
                        egestas, nibh quis faucibus viverra, diam ipsum consequat erat, in consequat ipsum justo sed metus. Nunc
                        gravida tellus in tellus tincidunt, id viverra erat finibus. Ut a finibus ex.
                    </p>
                </div>
            </div>
            <div class="block">
                <div class="box">
                    <h2>Lorem Ipsum</h2>
                    <p>
                        Cras ornare velit sit amet tortor ullamcorper sodales. Phasellus vestibulum, massa vitae bibendum
                        volutpat, elit ex tempor urna, sed aliquet justo lectus ac sapien. Nullam dictum dapibus leo vel
                        facilisis. Praesent id facilisis nunc. Suspendisse urna ante, dictum quis posuere eget, accumsan eget
                        orci. Quisque id laoreet ante. Sed convallis ex non ipsum sollicitudin, at varius nisl iaculis. Praesent
                        egestas, nibh quis faucibus viverra, diam ipsum consequat erat, in consequat ipsum justo sed metus. Nunc
                        gravida tellus in tellus tincidunt, id viverra erat finibus. Ut a finibus ex.
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>


</body>
</html>