<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="wrapper">

    <header class="mainheader">
        <h1>Title <span>span</span></h1>
        <p>Slogan</p>
    </header>


    <div class="panel">
        <h4>listing</h4>
        <ul>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
        </ul>
    </div>

    <div class="content">
        <h2>The First Balloon Ascent in England</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi mollis viverra nisl, at tempor nisl molestie
            eget. Vivamus congue a ex in vehicula. Fusce blandit posuere lectus. Nam auctor lacinia leo et scelerisque.
            Proin eu lectus aliquam, aliquet dui at, molestie nulla. Sed sollicitudin tristique nunc, eu aliquet nisi
            consectetur sit amet. Morbi pharetra nunc et placerat lobortis. Nunc placerat lectus nec quam suscipit
            euismod. Curabitur consequat nisi gravida ultricies faucibus. Sed viverra dolor quis purus facilisis aliquam
            a at justo. Nam nibh purus, aliquam euismod vehicula ac, cursus ut nisl.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi mollis viverra nisl, at tempor nisl molestie
            eget. Vivamus congue a ex in vehicula. Fusce blandit posuere lectus. Nam auctor lacinia leo et scelerisque.
            Proin eu lectus aliquam, aliquet dui at, molestie nulla. Sed sollicitudin tristique nunc, eu aliquet nisi
            consectetur sit amet. Morbi pharetra nunc et placerat lobortis. Nunc placerat lectus nec quam suscipit
            euismod. Curabitur consequat nisi gravida ultricies faucibus. Sed viverra dolor quis purus facilisis aliquam
            a at justo. Nam nibh purus, aliquam euismod vehicula ac, cursus ut nisl.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi mollis viverra nisl, at tempor nisl molestie
            eget. Vivamus congue a ex in vehicula. Fusce blandit posuere lectus. Nam auctor lacinia leo et scelerisque.
            Proin eu lectus aliquam, aliquet dui at, molestie nulla. Sed sollicitudin tristique nunc, eu aliquet nisi
            consectetur sit amet. Morbi pharetra nunc et placerat lobortis. Nunc placerat lectus nec quam suscipit
            euismod. Curabitur consequat nisi gravida ultricies faucibus. Sed viverra dolor quis purus facilisis aliquam
            a at justo. Nam nibh purus, aliquam euismod vehicula ac, cursus ut nisl.</p>
    </div>

    <footer class="mainfooter">
        <p>This book is available to read in full on <a href="#">the
            Project Gutenburg website</a>.</p>
    </footer>
</div>

</body>
</html>